PORT=
DB_HOST=
DB_USER=
DB_PASSWORD=
DB_PORT=
DB_NAME=
JWT_SECRET=
JWT_EXPIRES_IN=4h
FRONTEND_URL=https://delightmusicstudio.vercel.app
# Email config (optional - for OTP)
EMAIL_USER=
EMAIL_PASS=


# Enable SSL (REQUIRED for TiDB Cloud Serverless)
DB_SSL=true
DB_CA_PATH=./certs/isrgrootx1.pem